spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hotel
    username: hotel
    password: hotel

  jpa:
    hibernate:
      ddl-auto: none
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

  logging:
    level:
    org.flywaydb: INFO
    
  